@import "tailwindcss";

@theme {
  /* Colores de marca */
  --color-perez-blue: #040833;
  --color-perez-silver: #cbd5e1;
  --color-perez-silver-light: #f1f5f9;
  --color-perez-gold: #D4AF37;
}

/* Container centrado con ancho máximo */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Eliminamos el bloque de @media (prefers-color-scheme: dark) 
   para que la página no cambie a negro sola */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}